<html ng-app="listaTelefonica">
<meta charset="UTF-8" content="content">
	<head>
		<title>Hello World</title>
		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
		<style>
			.jumbotron{
				width: 600px;
				text-align: center;
				margin-left: auto;
				margin-right: auto;
				margin-top: 20px;
			}

			.h3{
				margin-bottom: 30px;
			}

			.table{
				margin-top: 20px;
			}

			.form-control{
				margin-bottom: 5px;
			}

			.selecionado{
				background-color: yellow;
			}

			.negrito{
				font-weight: bold;
			}

		</style>
		<script src="lib/angular/angular.js"></script>
		<!--<script src="lib/angular/angular-locale_fr-fr.js"></script>-->
		<script src="lib/angular/angular-locale_pt-br.js"></script>
		<script src="lib/angular/angular-messages.js"></script>
		<script>
			angular.module('listaTelefonica', ['ngMessages']);
			angular.module('listaTelefonica').controller('listaTelefonicaCtrl', function ($scope, $filter) {
				//uppercaseFilter()
				//uppercaseFilter("Pedro")
				$scope.app = "Lista telefonica";
				$scope.contatos = [
					{nome: $filter('uppercase')("Pedro"), telefone: "9999-8888", data: new Date(), operadora: {nome: "Oi", codigo: 14, categoria: "Celular"}, cor: "blue"},
					{nome: "Ana", telefone: "9999-7777", data: new Date(), operadora: {nome: "Vivo", codigo: 15, categoria: "Celular"}, cor: "yellow"},
					{nome: "Maria", telefone: "9999-6666", data: new Date(), operadora: {nome: "Tim", codigo: 41, categoria: "Celular"}, cor: "red"}
				];

				$scope.operadoras = [
					{nome: "Oi", codigo: 14, categoria: "Celular", preco: 2},
					{nome: "Vivo", codigo: 15, categoria: "Celular", preco: 1},
					{nome: "Tim", codigo: 41, categoria: "Celular", preco: 3},
					{nome: "GVT", codigo: 25, categoria: "Fixo", preco: 1},
					{nome: "Embratel", codigo: 21, categoria: "Fixo", preco: 2}
				];

				$scope.adicionarContato = function(contato){
					$scope.contatos.push(angular.copy(contato));
					delete $scope.contato;
					$scope.contatoForm.$setPristine();
				};

				$scope.apagarContatos = function(contatos){
					/*var contatosSelecionados = contatos.filter(function(contato) {
						if(contato.selecionado)
							return contato;
					});*/
					$scope.contatos = contatos.filter(function(contato) {
						if(!contato.selecionado)
							return contato;
					});
					//console.log(contatosSelecionados);
				};

				$scope.isContatoSelecionado = function(contatos){
					return contatos.some(function(contato){
						return contato.selecionado;
					});
				};
				$scope.ordenarPor = function(campo){
					$scope.criterioDeOrdenacao = campo;
					$scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao;
				};
			});

		</script>
	</head>
	<body ng-controller="listaTelefonicaCtrl">
		<div class="jumbotron">
			<!--<h4 ng-bind="app"></h4>-->
			<h3>{{app}}</h3>
			<input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?" />
			<!--{{contatos}}-->
			<table class="table" ng-show="contatos.length > 0">
				<tr>
					<th></th>
					<th> <a href="" ng-click="ordenarPor('nome')">Nome</a></th>
					<th> <a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
					<th>Operadora</th>
					<th>Data</th>
					<th></th>
				</tr>
				<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | limitTo:10 | filter: criterioDeBusca | orderBy: criterioDeOrdenacao:direcaoDaOrdenacao">
				<!--orderBy: criterioDeOrdenacao:true">-->
				<!--| filter: {nome: criterioDeBusca}-->
				<!--orderBy: 'nome'-->
				<!--orderBy: '+nome'-->
				<!--orderBy: '-nome'-->
				<!--orderBy: 'nome':false or true-->

				<!--{selecionado: contato.selecionado, negrito: contato.selecionado}-->
					<!--Outra forma-->
					<!--
					<td ng-repeat="(key, value) in contato">
						{{value}}
					</td>
					-->-
					<td><input type="checkbox" name="" ng-model="contato.selecionado"></td>
					<td>{{contato.nome | limitTo: 6}}</td>
					<td>{{contato.telefone}}</td>
					<td>{{contato.operadora.nome | lowercase}}</td>
					<td>{{contato.data | date: 'EEE dd/MM/yyyy HH:mm'}}</td>
					<td><div style="width: 20px;height: 20px;" ng-style="{'background-color': contato.cor}">

					</div></td>

				</tr>
			</table>

			<hr/>
			<!--É válido: {{contatoForm.$valid}}
			É inválido: {{contatoForm.$invalid}}-->
			<form name="contatoForm">
				<input name="nome" class="form-control" type="text" ng-model="contato.nome" placeholder="Nome" ng-required="true" ng-minlength="10" />
				<input name="telefone" class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/" />
				<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome + ' ( ' + (operadora.preco | currency) + ' )' for operadora in operadoras | orderBy: 'nome'">
					<!--operadora.nome group by operadora.categoria for operadora in operadoras-->
					<!--operadora.nome for operadora in operadoras-->
					<!--operadora.codigo as operadora.nome for operadora in operadoras-->
					<option value="">Selecione uma operadora</option>
				</select>
				<!--{{nome}}
				{{telefone}}-->
			</form>
			<div ng-messages="contatoForm.nome.$error" class="alert alert-danger">
				<div ng-message="required">
					<span>Por favor, preencha o campo nome!</span>
				</div>

				<div ng-message="minlength" >
					<span>O campo nome deve ter no mínimo 10 caracters.</span>
				</div>
			</div>

			<div ng-messages="contatoForm.telefone.$error" class="alert alert-danger">
				<div ng-message="required">
					<span>Por favor, preencha o campo telefone!</span>
				</div>

				<div ng-message="pattern">
					<span>O telefone deve ter o formato DDDDD-DDDD!</span>
				</div>
			</div>

			<!--{{contato}}-->
			<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
			<!--ng-disabled="!contato.nome || !contato.telefone"-->
			<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-show="isContatoSelecionado(contatos)">Apagar Contatos</button>
			<!--ng-show ou ng-hide : Trabalha com a visibilidade-->
			<!--ng-if : Trabalha com a existência-->
		</div>
			<div ng-include="'footer.html'"></div>
	</body>
</html>